<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="SecurityTxtHelper.php"/>
  <file name="routes/security-txt.php"/>
  <file name="helpers.php">
    <error line="14" severity="error" message="No summary for function \securitytxt()" source="phpDocumentor.file.PPC:ERR-50011"/>
  </file>
  <file name="config/security-txt.php"/>
  <file name="SecurityTxtController.php"/>
  <file name="SecurityTxtFacade.php"/>
  <file name="SecurityTxtServiceProvider.php">
    <error line="68" severity="error" message="No summary for method getInstance()" source="phpDocumentor.file.PPC:ERR-50008"/>
  </file>
</checkstyle>
